<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <title>MyLogin</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <!-- <img src="new.jpg" /> -->
    <form method="POST" action="/">
      <h1 style="font-family: 'Courier New', Courier, monospace;;">
        PERSONALIA
      </h1>
      <strong>
        <h1>LOGIN</h1>

        <p>
          Login to access the Student Online Portal.<br />
          Did you forget your password?<br />
        </p>
      </strong>

      <em>Student Index-Number:<br /></em>
      <input type="text" name="username" placeholder="Student-Id" /><br />

      <em>Student pin:<br /></em>
      <input type="password" name="pin" placeholder="Enter Student Pin" /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
