<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="portal.css" />
    <title>Residential Portal</title>
  </head>
  <body>
    <form>
      <h1>Students Online Residential Portal</h1>

      <div>
        <p>Welcome to the Student Online Residential Portal</p>
        <strong> Hostel Choice </strong>

        <ul style="list-style-type:disc">
          <li>Commonwealth Hall</li>
          <li>Volta Hall</li>
          <li>Akuaffo Hall</li>
          <li>Legon Hall</li>
          <li>Mensah Sarbah</li>
          <li>Liman Hostel</li>
          <li>Kwapong Hostel</li>
        </ul>
      </div>
    </form>
  </body>
</html>
